* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.banner {
    text-align: right;
}

.ENvlag {
    display: none;
}

#container {
    min-height: 100%;
}

#main {
    padding-bottom: 50px;
    background-color: F0FFF0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000033;
}

.mediInput {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.mediIntro {
    margin-top: 4rem;
    font-size: 25px;
    text-align: center;
}

.mediInput input {
    font-size: 60px;
    color: #000080;
    margin: auto;
    border: solid #000080;
}

.inhoud {
    text-align: center;
}

#titelInhoud {
    text-align: center;
    padding: 1rem;
    background: #4682B4;
    color: #000033;
    height: 60px;
}

.cmd {
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    color: #000033;
    background: #9bc1fa;
    border: solid #000033;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 1rem;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: #4682B4;
    color: #000033;
    height: 40px;
    position: relative;
    margin-top: -50px;
    clear: both;
}